SilverChart/Service References/ChartDataServiceReference/ChartDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PILib.PBR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PILib.PBR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/ChartDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PILib.Chart" />
  <xs:complexType name="GraphVyrabAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentVals" nillable="true" type="tns:ArrayOfGraphVyrabData" />
      <xs:element minOccurs="0" name="HourVals" nillable="true" type="tns:ArrayOfGraphVyrabData" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PILib.Chart" minOccurs="0" name="chartAnswer" nillable="true" type="q1:ChartAnswer" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphVyrabAnswer" nillable="true" type="tns:GraphVyrabAnswer" />
  <xs:complexType name="ArrayOfGraphVyrabData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphVyrabData" nillable="true" type="tns:GraphVyrabData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphVyrabData" nillable="true" type="tns:ArrayOfGraphVyrabData" />
  <xs:complexType name="GraphVyrabData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diff" type="xs:double" />
      <xs:element minOccurs="0" name="DiffProc" type="xs:double" />
      <xs:element minOccurs="0" name="Fakt" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" type="xs:double" />
      <xs:element minOccurs="0" name="Recomended" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphVyrabData" nillable="true" type="tns:GraphVyrabData" />
</xs:schema>