SilverChart/Service References/ChartDataServiceReference/ChartDataService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIMVC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIMVC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWriter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Writer" nillable="true" type="tns:Writer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWriter" nillable="true" type="tns:ArrayOfWriter" />
  <xs:complexType name="Writer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Types" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Writer" nillable="true" type="tns:Writer" />
</xs:schema>