SilverChart/Service References/ChartDataServiceReference/ChartDataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.7.3.7:8090/ChartDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIMVC" />
  <xs:import schemaLocation="http://10.7.3.7:8090/ChartDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PILib.Chart" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIMVC" minOccurs="0" name="DoWorkResult" nillable="true" type="q1:ArrayOfWriter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileNameData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileNameProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChartDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PILib.Chart" minOccurs="0" name="getChartDataResult" nillable="true" type="q2:ChartAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRynokChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="interval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordedData" type="xs:boolean" />
        <xs:element minOccurs="0" name="fileNameProperties" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRynokChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PILib.Chart" minOccurs="0" name="getRynokChartResult" nillable="true" type="q3:ChartAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>