SilverChart/Service References/CustomReportService/CustomReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/CustomReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PILib.CustomReport" />
  <xs:import schemaLocation="http://localhost:8090/CustomReportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PILib.CustomReport" minOccurs="0" name="getReportResult" nillable="true" type="q1:CustomReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PILib.CustomReport" minOccurs="0" name="section" nillable="true" type="q2:CustomReportSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PILib.CustomReport" minOccurs="0" name="getReportTagsResult" nillable="true" type="q3:CustomReportTags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReportXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectedTags" nillable="true" type="q4:ArrayOfKeyValueOfstringCustomReportDataStringRT_SZ2CHS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReportXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createReportXMLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReportFromXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createReportFromXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PILib.CustomReport" minOccurs="0" name="createReportFromXMLResult" nillable="true" type="q5:CustomReportStructure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>